<h1>Patients</h1>
  <% if current_user.receptionist? %>
    <%= link_to 'Register New Patient', new_patient_path, class: "btn btn-primary"%>
    <% end %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Address</th>
            <th>Registered At</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
          <% @patients.each do |patient| %>
            <tr>
              <td><%= patient.name %></td>
              <td><%= patient.email %></td>
              <td><%= patient.phone %></td>
              <td><%= patient.address %></td>
              <td><%= patient.registered_at %></td>
              <td><%= patient.status.capitalize %></td>
              <td>
              <% if current_user.receptionist? %>
                <%= link_to 'Show', patient, class: "btn btn-info" %>
                <%= link_to 'Edit', edit_patient_path(patient), class: "btn btn-warning" %>
                <%= link_to 'Delete', patient, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
    </table>
